/* @font-face {
    font-family: poppings;
    src: url(https://fonts.google.com/specimen/Poppins);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppings;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
   color: #333 ; 
   margin-bottom: 60px;

}
iframe{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* filter: invert(100%); */

/* } */ 
.mapCanvas{
    height: 100%;
    margin: 0%;
    padding: 0px;
}